<div class="generator-page" fxLayout="column" fxLayoutAlign="center space-around">
  <div class="header" fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
    <div class="character-input" fxFlex>Input here</div>
    <div class="clock" fxFlex>
      <mat-icon>access_time</mat-icon>
    </div>
    <button class="generate-button" fxFlex mat-raised-button>Generate 2D Grid</button>
  </div>

  <div class="grid" fxFlex>
    Grid here:
    <mat-grid-list cols="10" rowHeight="25px">
      <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="live-code" fxFlex> Live Code</div>
</div>
